body, h1, button, p {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#menu .dish-card {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 20px;
}

#menu .dish-card:first-child {
    margin-top: 20px;
}

.dish-card img {
    width: 150px;
    border-radius-top-left: 10px;
    border-radius-bottom-left: 10px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.dish-card .content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px
}

.dish-card .content h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.dish-card .content p {
    color: #666;
}


@media (max-width: 768px) {
    .dish-card {
        margin: 0 10px 10px 10px;
    }

    .dish-card:first-child {
        margin-top: 10px;
    }
}
