body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#restaurantPage {
    height: 100vh;
    width: 100%;
}

#registerForm, #loginForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

#registerForm input, #loginForm input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}

#registerForm button, #loginForm button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}


#registerForm button:hover, #loginForm button:hover {
    background-color: white;
    color: black;
}

table {
    /*width: 100%;*/
    border-collapse: collapse;
    /*background-color: white;*/
}

.hidden {
    display: none;
}

.dishImage {
    height: 39px;
    width: 200px;
    margin: 0 10px 5px 0;
    border-radius: 6px;
    box-shadow: 3px 3px 3px lightgrey;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

#menuTableBody td {
    /*border: 0;*/
}

#menuTableBody td input {
    margin: 0 10px 10px 0;
    border: 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px lightgrey;
    font-size: 16px;
    color: #646363;
}

::placeholder {
    color: lightgrey;
}

.toast {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    color: white;
    opacity: 0.8
}

#add-dish-button {
    border-radius: 50%;
    width: 66px;
    height: 66px;
    border: none;
    background-color: black;
    color: white;
    font-size: 66px;
    line-height: 66px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: .85;
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
    padding: 0;
}

#add-dish-button:hover {
    background-color: white;
    color: black;
}

#add-dish-button[disabled] {
    background-color: grey;
    cursor: not-allowed;
    color: white;
}

.delete-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.delete-button, .up-button, .down-button {
    width: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
}

.delete-button[disabled], .up-button[disabled], .down-button[disabled] {
    background-color: grey;
    cursor: not-allowed;
    color: white;
}

#menuTableBody td:last-child {
    display: flex;
}

.ib {
    display: inline-block;
    padding: 20px;
}

.ib:first-child {
    float: left;
}

.ib:last-child {
    float: right;
}

.ib h1 {
    display: inline;
}

#qrCode {
    height: 30px;
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1199px) {
    tr {
        display: block;
        padding: 10px 0;
        margin: 30px 0;
        box-shadow: 0 10px 10px lightgrey;
    }

    td {
        width: 47%;
        display: inline-block !important;
        padding: 0 10px;
    }
    td > * {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    td {
        width: 90%;
    }
}

