body {
    font-family: Arial, sans-serif;
}

#loginForm, #restaurantPage {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#menuTableBody td:nth-child(5) {
    text-align: center;
}

.hidden {
    display: none;
}

.dishImage {
    height: 50px;
    cursor: pointer;
}
